$color-base: #0c4;
$color-light: #dce0e0;
$color-text-base: #484848;
$color-text-light: #dce0e0;
$color-text-revert: #fff;
$color-border-base: #dce0e0;

// Font
$font-size-big: 16px;
$font-size: 12px;
$font-size-small: 10px;
$font-size-title: 22px;


// Spacing
$space: 12px;

// Grid
$grid-n-cols: 50;
$grid-cell-color-base: $color-light;
$grid-cell-color-active: $color-base;

// Buttons
$button-size: 80px;
$button-radius: 4px;
$button-border-size: 3px;
