{
  "extends": "airbnb",
  "env": {
        "browser": true,
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "arrow-body-style": ["error", "as-needed"],
    "react/forbid-prop-types": [2, { "forbid": ["any"] }]
  }
}
